body{
  font-family: 'Roboto', sans-serif;
}

header img{
  opacity: 0.6;
}

header{
  background-color: #000;
}

h1{
  font-size: 80px;
  font-weight: 100;
}

.intro p{
  font-size:  28px;
    font-weight: 100;
}

.uk-logo, .uk-navbar-nav a{
  color: #fff !important;
}

.uk-navbar-nav .uk-navbar-dropdown-nav a{
  color: #999 !important;
}

nav a:hover{
  color: #15bfff !important;
}

.intro{
  color: #999;
}

.uk-tile-primary{
  background-color: #15bfff;
}

.uk-tile{
  float: left;
  display: inline;
  height: 400px;
}


.bottom-nav{
  background-color: #ebebeb;
  min-height: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-nav{
  background-color: #000;
  color: #fff;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
